---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <ul x-data="{tools: pb.collection('tools').getFullList()}">
    <template x-for="tool in tools" :key="tool.id">
      <li x-text="tool.name"></li>
    </template>
  </ul>
</Layout>
