<div class="bg-gray-950">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 md:divide-x-2 divide-gray-800 py-20 px-10 lg:px-60"
  >
    <div class="px-6">
      <p class="figures">100+</p>
      <p class="subtext text-sm text-center">Different frameworks exist</p>
    </div>

    <div class="px-6">
      <p class="figures">~437K</p>
      <p class="subtext text-sm text-center">Projects are listed in GitHub</p>
    </div>

    <div class="px-6">
      <p class="figures">~1k</p>
      <p class="subtext text-sm text-center">
        New tools and libs are created every day
      </p>
    </div>

    <div class="px-6">
      <p class="figures">20-50</p>
      <p class="subtext text-sm text-center">
        Libs and utils is used approximately in one project
      </p>
    </div>
  </div>
</div>
