---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!-- Primary Meta Tags -->
    <title>ShowYourStack – Create, Share and Browse Tech Stacks</title>
    <meta
      name="title"
      content="ShowYourStack – Create, Share and Browse Tech Stacks "
    />
    <meta
      name="description"
      content="Crafted for developers constantly seeking superior tools – a fusion of LibHunt, StackShare, and Social Media. Discover ShareYourStack today! Optimize your developer toolkit and elevate your coding experience. "
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://showyourstack.xyz/" />
    <meta
      property="og:title"
      content="ShowYourStack – Create, Share and Browse Tech Stacks "
    />
    <meta
      property="og:description"
      content="Crafted for developers constantly seeking superior tools – a fusion of LibHunt, StackShare, and Social Media. Discover ShareYourStack today! Optimize your developer toolkit and elevate your coding experience. "
    />
    <meta
      property="og:image"
      content="https://showyourstack.xyz/showyourstack-image.png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://showyourstack.xyz/" />
    <meta
      property="twitter:title"
      content="ShowYourStack – Create, Share and Browse Tech Stacks "
    />
    <meta
      property="twitter:description"
      content="Crafted for developers constantly seeking superior tools – a fusion of LibHunt, StackShare, and Social Media. Discover ShareYourStack today! Optimize your developer toolkit and elevate your coding experience. "
    />
    <meta
      property="twitter:image"
      content="https://showyourstack.xyz/showyourstack-image-twi.png"
    />
    <title>ShowYourStack</title>
  </head>
  <body class="bg-gray-950">
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  p {
    @apply text-gray-200 antialiased;
  }
  h1 {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-gray-700 via-gray-200 to-gray-200 text-4xl md:text-6xl font-bold antialiased;
  }
  h2 {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-gray-300 via-gray-200 to-gray-100 text-2xl md:text-4xl font-bold antialiased;
  }

  p.subtext {
    @apply text-gray-600;
  }

  input {
    @apply text-gray-200 border px-4 py-2 rounded-md bg-gray-800 focus:outline-none focus:ring-1 focus:ring-gray-200 cursor-pointer shadow-lg shadow-gray-700/40;
  }

  input::placeholder {
    @apply text-gray-600;
  }

  button {
    @apply text-gray-200 border px-4 py-2 rounded-md focus:outline-none focus:ring-1 focus:ring-gray-200 cursor-pointer shadow-lg shadow-gray-700/40;
  }

  p.figures {
    @apply text-xl md:text-4xl font-bold text-gray-200 text-center;
  }

  .chip {
    @apply border border-gray-900 text-gray-700 px-4 py-2 rounded-full text-sm;
  }
</style>
<script>
  import PocketBase from "pocketbase";

  window.pb = new PocketBase("https://showyourstack-api.fly.dev");
</script>
